#content-container {
    width: 100%;
}
#content {
    margin: 0 auto;
    width: 100%;
    padding-top: 1080px;
    padding-bottom: 1080px;
}
.content-min {
    width: 70%;
    margin: 0 auto;
}

.work-content {
    display: flex;
    align-items: flex-start;
    margin-bottom: 45px;
}
.work-content > * {
    flex-basis: 50%;
}
.work-content .work-right h3 {
    text-align: right;
}
.work-content .work-left {
    padding-right: 20px;
}
.work-content .work-right {
    padding-left: 20px;
}
.work-right-sub {
    display: flex;
}
.work-right-sub > * {
    flex-basis: 50%;
    padding: 10px;
}
#content a {
    color: blue;
    text-decoration: none;
    display: block;
}

