#content-container {
    width: 100%;
}
#content {
    margin: 0 auto;
    width: 100%;
    padding-top: 1080px;
    padding-bottom: 1080px;
}
.content-min {
    width: 70%;
    margin: 0 auto;
}

.work-content {
    display: flex;
    align-items: flex-start;
    margin-bottom: 45px;
}
.work-content > * {
    flex-basis: 50%;
}
.work-content .work-right h3 {
    text-align: right;
}
.work-content .work-left {
    padding-right: 20px;
}
.work-content .work-right {
    padding-left: 20px;
}
.work-right-sub {
    display: flex;
}
.work-right-sub > * {
    flex-basis: 50%;
    padding: 10px;
}
#content a {
    color: blue;
    text-decoration: none;
    display: block;
}

@media only screen and (max-width: 700px) {
    .work-content {
        display: block;
    }
    .work-content .work-right h3 {
        text-align: left;
    }
    .work-right-sub > * {
        padding: 0px;
    }
    .work-content .work-left {
        padding-right: 0px;
    }
    .work-content .work-right {
        padding-left: 0px;
    }
    .content-min {
        overflow-x: hidden
        width: 90%;
        margin: 0 auto;
    }
}