#portrait { display: flex; }

.nav-center {
    top: 25% !important;
    width: 300px !important;
    height: 375px !important;
}
.nav-top {
    width: 100% !important;
    top: 10px !important;
    height: 70px !important;
}
.nav-content-center > *, .nav-content-center #portrait-container *{
    margin: 22px auto;
}

#nav-container {
    overflow: hidden;
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    align-self: center;
    background: white;
    box-shadow: 0px 3px 15px 2px rgb(0,0,0);
}

.nav-content-center nav a {
    width: min-content;
    margin: 15px auto;
    color: black;
    letter-spacing: 4px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
}
.nav-content-center address { text-align: center; }
.nav-content-center address a {
    text-decoration: none;
    margin: 0px 10px;
    color: black;
}
.nav-content-center #portrait {
    position: relative;
    height: 90px;
    width: 90px;
    border-radius: 100%;
    background: grey;
}
.nav-content-center h1 {
    color: #0c0c0c;
    letter-spacing: 4px;
    margin: 2px;
    text-align: center;
    font-size: 20px;
}
.nav-content-top {
    display: flex;
}
.nav-content-top > * {
    display: inline-block;
    align-self: center;
    flex-basis: 33%;
}
.nav-content-top #portrait-container * { 
    vertical-align: middle; 
    display: inline-block;
    margin: 0px 10px;
}
.nav-content-top #portrait {
    position: relative;
    display: none;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background: grey;
    margin-right: 0px;
}
.nav-content-top h1 {
    color: black;
    letter-spacing: 4px;
    font-size: 20px;
}
.nav-content-top address a, .nav-content-top nav a {
    text-decoration: none;
    margin: 0px 10px;
} 
.nav-content-top nav {
    text-align: center;
    font-size: 18px;
}
.nav-content-top address {
    text-align: right;
    font-size: 20px;
}
